#login{
    display:flex;
    align-items: center;
    flex-direction:column;
    
}

input{
    border-radius:2em;
    border:1px solid var(--gray);
}

p{
    margin:0;
    text-align:center;
}

#login_form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:white;
    border-radius:2em;
    box-shadow: 8px -6px 20px 3px rgba(255, 255, 255, 0.8);
    padding:100px 50px 100px 50px;
}

#login_form>div>label{
    display:block;
    margin-bottom:5px;
    margin-left:15px;
    color:black;
    text-align:left;
}

#login_form>div{
    margin-bottom:20px;
}

#login_form>div>a{
    font-size:14px !important;
    text-align:center;
    width:100%;
    display:block;
}

.connexion_btn{
    background-color:pink;
    display:flex;
    align-items:center;
    justify-content:center;
}