#PFFPresentation{
    border-radius:2em 2em 0 0;
    height:80vh;
    top: -2em;
    position: relative;
    background-color: white;
    box-shadow: 8px -6px 20px 3px rgba(255, 255, 255, 0.8);
}

#PFFPresentation_Img{
    float:left;
    display:flex;
    align-items:center;
    justify-content:center;
    width:50%;
    height:100%;
}

#PFFPresentation_Txt{
    float:right;
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size:2em;
}
#PFFPresentation_Txt>.title{
    font-weight:bold;
    font-size:2rem;
    font-family:BC Alphapipe Bold;  
}