.GameCard{
    background-color:var(--blue);
    width:fit-content;
    padding:50px;
    border-radius:2em;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.GameCard>p:first-child{
    margin-bottom:0;
}
.GameCard>hr{
    background-color: var(--purple);
    width: 20px;
    height: 4px;
    margin: 0;
    border:none;
    border-radius:1em;
}
.GameCard>p{
    color:white;
    font-family:BC Alphapipe Bold;
    font-size:1.2em;
}
.GameCard>img{
    width:256px;
    height:256px;
    border-radius:1em;
    object-position: center;
    object-fit:cover;
}
label{
    max-width:256px;
    color:white;
    text-align:center;
}